---
layout: layout.njk
title: مترجمین گیتاب
permalink: /translator.html
---

<section class="page-header">
    <h1>مترجمین گیتاب</h1>
    <p>تلاش جمعی از توسعه‌دهندگان برای گسترش دانش فنی به زبان فارسی </p>
</section>

<section class="translators-grid container">
    <!-- مترجم 1 -->
    <article class="translator-card">
        <img src="{{ '/images/translator/user1.jpg' | url }}" alt="حامد حیدریان" class="translator-photo">
        <h3>حامد حیدریان</h3>
        <p class="role">ASP.NET Core Developer</p>
        <div class="social-links">
            <a href="https://github.com/hheydarian" target="_blank">
                <img src="{{ '/icone/github-p.svg' | url }}" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/hamedheydarian/" target="_blank">
                <img src="{{ '/icone/linkedin.svg' | url }}" alt="LinkedIn">
            </a>
        </div>
       
    </article>

    <!-- مترجم 2 -->
    <article class="translator-card">
        <img src="{{ '/images/translator/user1.jpg' | url }}" alt="مجتبی افراز" class="translator-photo">
        <h3>مجتبی افراز</h3>
        <p class="role">Full Stack Developer</p>
        <div class="social-links">
            <a href="https://github.com/mojtaba-afraz" target="_blank">
                <img src="{{ '/icone/github-p.svg' | url }}" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/mojtaba-afraz/" target="_blank">
                <img src="{{ '/icone/linkedin.svg' | url }}" alt="LinkedIn">
            </a>
        </div>
       
    </article>

    <!-- مترجم 3 -->
    <article class="translator-card">
        <img src="{{ '/images/translator/user2.png' | url }}" alt="هیمن صادقی" class="translator-photo ">
        <h3>هیمن صادقی </h3>
        <p class="role">DevOps Engineer</p>
        <div class="social-links">
            <a href="https://github.com/hemansadeghi" target="_blank">
                <img src="{{ '/icone/github-p.svg' | url }}" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/heman-sadeghi-0b0537341/" target="_blank">
                <img src="{{ '/icone/linkedin.svg' | url }}" alt="LinkedIn">
            </a>
        </div>
     
    </article>

    <!-- مترجم 4 -->
    <article class="translator-card">
        <img src="{{ '/images/translator/user1.jpg' | url }}" alt="امیر محمد روزمه" class="translator-photo">
        <h3>امیر محمد روزمه</h3>
        <p class="role">Back-End Engineer</p>
        <div class="social-links">
            <a href="https://github.com/amirroox" target="_blank">
                <img src="{{ '/icone/github-p.svg' | url }}" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/amirroox/" target="_blank">
                <img src="{{ '/icone/linkedin.svg' | url }}" alt="LinkedIn">
            </a>
        </div>
    </article>
      <!-- مترجم 5 -->
    <article class="translator-card">
        <img src="{{ '/images/translator/user1.jpg' | url }}" alt="حمید نامجو" class="translator-photo">
        <h3>حمید نامجو</h3>
        <p class="role">Back-End Engineer</p>
        <div class="social-links">
            <a href="https://github.com/hrnrxb" target="_blank">
                <img src="{{ '/icone/github-p.svg' | url }}" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/hamid-namjoo/" target="_blank">
                <img src="{{ '/icone/linkedin.svg' | url }}" alt="LinkedIn">
            </a>
        </div>
     
    </article>

       <!-- مترجم 6 -->
    <article class="translator-card">
        <img src="{{ '/images/translator/user1.jpg' | url }}" alt="دانیال کریمی" class="translator-photo">
        <h3>دانیال کریمی</h3>
        <p class="role">Back-End Engineer</p>
        <div class="social-links">
            <a href="https://github.com/Danialk13" target="_blank">
                <img src="{{ '/icone/github-p.svg' | url }}" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/danialk13/" target="_blank">
                <img src="{{ '/icone/linkedin.svg' | url }}" alt="LinkedIn">
            </a>
        </div>
     
    </article>
     <!-- مترجم 7 -->
    <article class="translator-card">
        <img src="{{ '/images/translator/user3.jpg' | url }}" alt="ابوالفضل مبشری" class="translator-photo">
        <h3>ابوالفضل مبشری</h3>
        <p class="role">Back-End Engineer</p>
        <div class="social-links">
            <a href="https://github.com/AripaStudio" target="_blank">
                <img src="{{ '/icone/github-p.svg' | url }}" alt="GitHub">
            </a>
            <a href="https://github.com/AripaStudio" target="_blank">
                <img src="{{ '/icone/linkedin.svg' | url }}" alt="LinkedIn">
            </a>
        </div>
     
    </article>
</section>