---
layout: layout.njk
title: معرفی کتاب Task Programming in C#
permalink: /books/book2/index.html
---

<section class="book-header">
  <div class="book-cover">
    <img src="{{ '/images/clean-code-csharp/Cover.webp' | url }}" alt="Clean Code in C#" />
  </div>

  <div class="book-meta">
    <h1> ترجمهٔ فارسی #Clean Code in C</h1>
    <p class="subtitle">
      پایه‌ای مدرن برای یادگیری برنامه‌نویسی ناهمگام در سی‌شارپ و دات‌نت
    </p>

    <div class="book-tags">
      <span>AsyncAwait#</span>
      <span>task#</span>
      <span>CSharp#</span>
      <span>Asynchronous#</span>
      <span>NET.#</span>
    </div>
  </div>
</section>

<section class="book-intro">
  <p>
    کتاب <strong>Task Programming in C# and .NET </strong> نوشتهٔ <em>Vaskaran Sarcar</em> 
    از منابع ارزشمند برای یادگیری مفاهیم Task و برنامه‌نویسی ناهمگام (Asynchronous Programming) در دات‌نت به شمار می‌آید.
  </p>

  <div class="key-points">
    <div><strong>✅ نسخه:</strong>  2025</div>
    <div><strong>📚 سطح:</strong> پیشرفته</div>
    <div><strong>🧩 تمرکز:</strong> مفاهیم Task و برنامه‌نویسی ناهمگام (Asynchronous Programming)  </div>
    <div><strong>✍️ وضعیت ترجمه:</strong> تکمیل شده </div>
    <div><strong>💬 مترجم:</strong> 
    <a href="https://github.com/hheydarian">حامد حیدریان</a>
    
    </div>
  </div>
</section>

<section id="chapters" class="book-chapters">
  <h2> فهرست سرفصل‌ها</h2>

  <details open>
    <summary>بخش ۱ — مقدمات و اصول</summary>
    <ul>
      <li>
        <a href="/books/book2/Book/00/Introduction/"><span class="chapter-box">0</span> مقدمه</a>
      </li>
      <li>
        <a href="/books/book2/Book/01/Asynchronous-Programming-and-Tasks/">
          <span class="chapter-box">1</span> استانداردها و اصول کدنویسی در سی‌شارپ
        </a>
      </li>
      <li>
        <a href="/books/book2/Book/02/Task-Creation-and-Execution/">
          <span class="chapter-box">2</span> بازبینی کد — فرایند و اهمیت
        </a>
      </li>
      <li>
        <a href="/books/book2/Book/03/Continuation-and-Nested-Tasks/">
          <span class="chapter-box">3</span> کلاس‌ها، اشیاء و ساختار داده
        </a>
      </li>
      <li>
        <a href="/books/book2/Book/04/Exception-Handling/">
          <span class="chapter-box">4</span> نوشتن توابع تمیز
        </a>
      </li>
      <li>
        <a href="/books/book2/Book/05/Managing-Cancellations/">
          <span class="chapter-box">5</span> نوشتن توابع تمیز
        </a>
      </li>
      <li>
        <a href="/books/book2/Book/06/Bonus/">
          <span class="chapter-box">6</span> نوشتن توابع تمیز
        </a>
      </li>
      <li>
        <a href="/books/book2/Book/APPENDIX-A/APPENDIX-A/">
          <span class="chapter-box">7</span> نوشتن توابع تمیز
        </a>
      </li>
      <li>
        <a href="/books/book2/Book/APPENDIX-B/APPENDIX-B/">
          <span class="chapter-box">8</span> نوشتن توابع تمیز
        </a>
      </li>
    </ul>
  </details>

 
</section>
