@font-face {
    font-family: "Shabnam";
    src: url("Shabnam-Bold-FD.woff2") format("woff2"),
        url("shabnam/Shabnam.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Shabnam", sans-serif;
}
